In [1]:
import pandas as pd

In [2]:
df = pd.read_excel('WSD_Text.xlsx')

In [3]:
df.head()

                                                Text
0  penyerang paris saint germain psg neymar beran...
1  langkawi sepasang suami isteri yang juga suspe...
2  kuala terengganu presiden pas datuk seri abdul...
3  hulu langat tindakan pas yang masih membantu g...
4  semenyih presiden parti pribumi bersatu malays...

In [4]:
print(df['Text'].apply(lambda x: len(x.split(' '))).sum())

20486133

In [6]:
textKey = df[df["Text"].str.contains('madu')]

In [7]:
print(textKey)

                                                    Text
82     n seringkali kita mendengar penyataan bisnes b...
138    washington presiden amerika syarikatdonald tru...
216    kuala lumpur sidang dewan rakyat hari ini keco...
323    penyanyi marsha milan londoh mengejutkan hadir...
420    seremban kerajaan negeri sembilan bertindak me...
537    kuala lumpur bantu orang muda melangsungkan pe...
827    halia ialah sejenis rempah berakar dengan rasa...
968    jitra tuala terpakai yang sudah lusuh mungkin ...
1051   kuala terengganu gara gara cemburu madunya dib...
1272   kuala lumpur berdasarkan manifesto pilihan ray...
1363   kuala lumpur dap perlu menghormati budaya dan ...
1875   manila pemimpin 21 anggota kerjasama ekonomi a...
1930   kuala lumpur pelakon dan pengarah erma fatima ...
2508   lagos insiden rempuhan pada khamis yang membab...
2870   kuala lumpur pasca kematian hugo chavez menyak...
3256   peserta gegarvaganza 3 gv3 siti sarah terharu ...
3613   kuala lumpur majlis perwakilan pelajar mpp uni...
4329   kuantan rakyat di negara ini diseru mengelakka...
4440   atlet terengganu yang memenangi pingat emas da...
4858   shah alam gelanggang pilihan raya umum ke 13 d...
4977   kuala lumpur perdana menteri datuk seri najib ...
5504   kangar sepasang suami isteri berusia 51 dan 19...
5699   merbok candi nombor 11 yang ditemui baru baru ...
5730   kuala lumpur pengalaman mengikuti datuknya ber...
5824   riyadh seorang lelaki arab yang menimbulkan ke...
5910   kuala terengganu kerajaan negeri dan jabatan h...
6142   pemuzik bebas muhammad radzi abdul wahid atau ...
6166   kuala terengganu pas akan menubuhkan majlis pe...
6194   kerajaan negeri terengganu akan mengadakan ban...
6867   penyanyi lagu lagu berunsur ketuhanan terkenal...
...                                                  ...
77449  alor gajah sifat hasad dengki menebal merupaka...
77755  kuala nerang usahawan desa di negara ini diges...
77790  kuala lumpur pelangi network management sdn bh...
77870  george town allahyarham tajuddin zainal abidin...
77946  davos perdana menteri india narendra modi meng...
77985  davos dua puluh empat jam menjelang acara tahu...
78011  kuala lumpur lawatan raja arab saudi raja salm...
78058  kuala lumpur ketua umum pkr datuk seri anwar i...
78125  hari ini tersebar gosip hubungan yang terjalin...
78606  kuala lumpur pas pada rabu mencabar parti komp...
78684  kuala lumpur perdana menteri datuk seri najib ...
78912  kebiasaannya pasangan pengantin baru akan berc...
78958  shah alam pemerhati politik yakin rakaman audi...
78980  kuala lumpur kira kira 50 wakil media tempatan...
79014  kuala lumpur perjuangan umno dalam kepentingan...
79043  kuala lumpur dalam tempoh empat bulan rakyat m...
79788  bukit mertajam pergerakan pemuda umno pulau pi...
79838  di selatan sudan sebanyak 40 peratus perkahwin...
79859  presiden venezuela nicolas maduro puji pasukan...
79918  gorontalo seorang anggota agensi mencari dan m...
80205  harga minyak mentah meningkat pada dagangan se...
80263  selamat tahun baru 2019 di hujung tahun semasa...
80712  kuala terengganu seorang wanita yang berstatus...
80944  berdasarkan statistik e daftar rendah kementer...
81520  dalam amalan berpersatuan perlunya ada nilai e...
81532  kuala lumpur sebanyak tiga pilihan raya kecil ...
81569  jelai perjalanan dari sungai koyan ke pos sind...
81600  kuala lumpur dewan bahasa dan pustaka dbp akan...
81868  selepas 61 tahun berlaku perubahan kerajaan pe...
81941  kuala lumpur susulan penularan sekeping gambar...

[498 rows x 1 columns]

In [8]:
from pandas import ExcelWriter
from pandas import ExcelFile

In [9]:
writer = ExcelWriter('WSD_madu.xlsx')
textKey.to_excel(writer,'Sheet1',index=False)
writer.save()

In [11]:
textKey = df[df["Text"].str.match('sepak')]
print(textKey)

                                                    Text
33491  sepakan gunting cristiano ronaldo ketika perla...